
<div class="signupcontainer large-offset-1">
  <h2><strong>About</strong></h2>

  <div class="text">

  <p>Lawreo is the leading online legal knowledge exchange.  It was founded by a team of three experienced lawyers, whose goal is simple: improving everyday access to high quality legal advice, and helping lawyers stay competitive by sharing knowledge and connections.</p>

  <p>At Lawreo, individuals and businesses can ask legal questions and receive answers from qualified lawyers, explained in simple English for no fee.</p>

  <p>It’s also a place for lawyers to ask one another questions, to share knowledge, and to demonstrate thought leadership.</p>

  <p>Regardless of what your legal problem is, Lawreo will help you find the answers you need.</p>
  </div>
</div>
