
<div class="signupcontainer large-offset-1">
  <h2><strong>FAQ</strong></h2>

  <div class="text">

<p><strong>1. What is Lawreo?</strong></p>

<p>Lawreo is the leading legal knowledge exchange.  
The heart of our service is legal Q&A. Anyone can post questions about those gritty legal problems that they face – qualified lawyers will provide you with answers that are concise, commercial, and explained in simple everyday English.</p>

<p><strong>2. What types of questions can I ask?</strong></p>

<p>Whatever you like, as long as it relates to law! 
Regardless of whether your legal problem is about your home, financial situation, or job, or if you’re a company and your query relates to matters affecting your business, you’ll find a lawyer happy to assist. Topics we cover include employment, intellectual property or general corporate matters. </p>

<p><strong>3. I’m a lawyer. How can I use Lawreo?</strong></p>

<p>There are two ways.</p>

<p>Firstly, you can answer questions on the site. When you sign up to the site as a lawyer, we’ll ask for some basic information from you to verify that you’re a qualified Barrister or Solicitor in England or Wales. Once you’ve submitted that information, you will be able to post answers to questions on the site. </p>

<p>We also want to encourage lawyers sharing information with each other.  Lawyers can ask questions on our site just as anyone else can. We believe that when a lawyer answers a question asked by a fellow lawyer, both benefit - the lawyer asking the question receives the information he was seeking, and the lawyer answering the question shows the breadth of their knowledge in their field of expertise.</p>

<p>Visitors to the site (not just the person who asked the question) will be able to see your answers and your profile. The site is a great way to build your brand. Lawyers who are active on Lawreo can differentiate themselves from their peers, demonstrate thought leadership, show off their expertise and make introductions with potential clients.</p>

<p><strong>4. Can I ask a question confidentially?</strong> </p>

<p>We understand the need for anonymity, especially if you’re asking a question which relates to a confidential matter.  Therefore, when you ask a question on Lawreo, your personal details will never be shown.</p>

<p><strong>5. What if my question is not within one of your set categories?</strong></p>

<p>At the moment we’re focusing on a few specific areas, but we’ll shortly be expanding the platform to cover other legal areas. In the meantime, we’d love to hear what other categories you’d like covered, so please do drop us an email at [•]</p>

<p><strong> 6. Who are the lawyers answering the questions? </strong></p>

<p>All lawyers answering questions on the platform have been vetted to ensure that they are English-law qualified solicitors or barristers.  Lawyers are able to fill out personal profiles, and we encourage them to provide other information to help you, including the number of years that they have been qualified, and their areas of expertise.</p>

<p><strong>7. Can I rely on the answers provided by a lawyer on Lawreo? </strong></p>

<p> Unfortunately you cannot.  Any answers given by lawyers on the site do not constitute the giving of legal advice, and no solicitor-client relationship is formed - therefore you cannot rely on any answers provided. Should you wish to receive legal advice, we suggest that you speak directly to the lawyer that has provided you with the answer. </p>

<p><strong>8. Can I comment on the answers given?</strong></p>

<p>Yes – if you think the answer given by a lawyer to a question asked was good, then please click on the thumbs up button. Similarly, if you don’t think the answer given was helpful, or was incorrect, please click on the thumbs down button.</p>

<p>Also, if you are a lawyer, please feel free to add comments on any answers given – if you think it can be improved or finessed.</p>

<p><strong>9.	How can I increase my user score?</strong></p>

<p>Lawyers will be awarded 1 point for every upvote they receive from a user in respect of an answer they have given. They are deducted 1 point for every downvote they receive from a user.  </p>

<p>Therefore, to increase your user score, you need to provide as many helpful answers as possible!</p>

<p><strong>10.	How can I make connections?</strong></p>

<p>If you receive an answer and wish to speak to the lawyer who responded to your question, please feel free to message or call him/her to discuss your query further - each answer contains a link to the answering lawyer’s profile, which contains the lawyer’s contact details.</p>

<br>
<br>
<br>
<br>
<br>



  </div>
</div>
