
<div class="signupcontainer large-offset-1">
  <h2>Privacy policy</h2>
	<div class="text">

	<p>Lawreo understands the importance of keeping information about you confidential and secure. We therefore make it our priority to ensure that we look after your information and use it responsibly.</p>

	<p>This Privacy Policy sets out the data processing practices carried out by us in relation to user data collected by us via our websites, any applications or other channels we may use, or any other means now or in the future. It covers the following:</p>

<ol>
	<li>Who controls your information?</li>
	<li>What information do we collect and how?</li>
	<li>How do we use your information?</li>
	<li>Who do we share your information with and why?</li>
	<li>Transfers outside the UK</li>
	<li>How do we keep your personal information secure?</li>
	<li>How can you control your personal information?</li>
</ol>

<p>Lawreo may amend this Privacy Policy from time to time and will notify you of any material changes by displaying the revised Privacy Policy on our website. </p>


<p>1. Who controls your information?</p>

<p>Information collected by us is controlled by Lawreo Limited (trading as Lawreo.com) (‘Lawreo, ‘we’, and ‘us’) with its registered office at [       ]. </p>

<p>2. What information do we collect and how?</p>

<p> The information we collect may include your personal information, in other words information capable of identifying you as a particular individual, such as your name, telephone number, email address, place of work, transactions with us, postings to and use of our site, and credit card of other financial information. </p>

<p>If you sign up to use our services as a lawyer, we may also collect information about your professional status including, but not limited to, your SRA number or other regulatory identifier. </p>

<p>What exact information we collect about you, if any, will depend on how you use our services.  You can browse many pages on our website without the need to supply any personal information.</p>

<p>Lawreo may collect personal information about you in the following circumstances:</p>

<ul>

	<li>When you register an account with us: You will be asked to provide us with your name, organization, username, password and email address when you register an account on our website. All of this information will be retained by us and managed in accordance with this Privacy Policy.If you are a lawyer, we may ask you for additional information, including but not limited to your SRA number or similar. You will also be asked to fill out a professional profile, which may include your contact details, date of qualification, and other details, which will be visible to the public (along with your real name and organization) on your profile page. All of the above information will be retained by us and managed in accordance with this Privacy Policy.</li><br>

	<li>When you post a question on our website:Your username may be shown on the website next to that question. Any question(s) that you ask will be associated with your username and therefore with all of the information you have provided, referred to above. Any up- or down- votes that you give will also be associated in our systems with your username, in the same manner. However, all other users of the website will not be able to see which up- or down-votes you have made.</li><br>

	<li>If you have registered with us as a lawyer: You will be able to answer questions and make comments on the answers provided by other lawyers. When you answer a question, your real name, organization and a link to your profile will be visible to the public, next to your answer. Your answer will be associated with your username in our systems, and therefore with all the other information you have provided us.</li><br>

	<li>When you purchase any products and/or services that may be offered for sale by us or through our website or apps: You provide us with your name, credit card details, including card number, card type, cardholder name, expiry date, billing address and delivery details when you place an order through our website or other channel. </li></br>

	<li>When you register to receive our newsletters or other marketing material or update your preferences in our preferences centre: You provide us with your email address, name and other relevant information to enable us to tailor our direct non-transactional communications with you. Our newsletters and marketing material will contain information on how to unsubscribe, in the usual fashion.</li><br>

	<li>When you participate in any competitions, questionnaires and surveys that we may run: When you complete questionnaires, surveys or competition entry forms you provide us with your personal information including your name, street address, email address and other information we might request. </li><br>

	<li>When you contact us or our customer services personnel: When you contact us by email, phone or post, for example dealing with our customer service personnel, you provide us with your personal information such as name, email address etc. In addition, we may record any of your calls to us.</li><br>

	<li>Via implicit data capture measures when you visit the website: In addition to the information which you may volunteer to us, certain information is automatically collected when you visit the Lawreo website via tracking technologies employed by us from time to time such as cookies, flash cookies, web bugs and javascript. These collect information including technical information from your computer whenever you visit the website such as your Internet protocol (IP) address, your operating system and platform, browser type and version and referrer website as well as providing us with information about your shopping preferences, viewed/searched-for products and on site activity. If you are a wireless user and gain Internet access via a mobile phone you or other devices should contact your wireless provider to find out if they collect personal information about you.</li><br>

	<li>From third party sources, for example credit checking agencies: We reserve the right to request information about you from other sources where relevant, for example from credit reference agencies to guard against fraud, or we may receive your address and delivery information from third parties engaged for record correction purposes.</li><br>
</ul>
	<p>3. How do we use your information?</p>

<p> Lawreo will use your information to provide you with a dynamic, personalised and secure service to offer you a truly rewarding online experience. In particular, we will use your information for the following general purposes as long as you have given us your consent:</p>

<ul>

<li>For registering your account with Lawreo: We will use the information that you provide to us when you register as a member on the website to set up and maintain your account. We will send you a confirmation email notifying you that your account has been set up. We may also obtain information about you from other sources and add this to your account profile for example, updated delivery details from couriers.</li><br>

<li>For fulfilling orders: When you place an order for products or services via the website or other distribution channels, we will use your information to process the requested transaction, fulfil your order and provide you with the products and services you expect.</li><br>

<li>For responding to your queries: We may use your customer information to respond to your queries for example, about an order or problems logging on, navigating the website or accessing your account. In order to address your query you may be contacted by email, over the telephone, or other communication method by a member of one of our customer services teams.. We may contact you via email, phone or other communication channel to respond to suggestions you may send to us (for example about our website, products and services) and to assess and announce the results of surveys, competitions and other contests you may have participated in. We may record any of our telephone calls with our users. Some information including e-mails received by Lawreo may be used by us for testimonials, though your personal information, such as e-mail address or contact details, will never be used by us for this purpose without your consent.</li><br>

<li>For improving your onsite experience and providing you with information about products and services, special offers and promotions: We may use the information gathered from your permanent cookie file (see our Cookies Policy) in conjunction with other personal information provided by you, so that we can create a more effective website by assessing content and traffic flows on the site. We may use this information to provide you with a more personalised experience on the website, help you to navigate the site effortlessly and to display particular products and services that we believe may be of interest to you. When you register your account, post a question, a comment or an answer, or place an order via our website or other distribution channel, we may use your personal information to contact you with details of special offers, promotions and other information and to send you our newsletters where we think these will be of interest and you consented to receiving promotional communications. If you wish to unsubscribe from any such communications you may contact us via the contact information at the end of this privacy policy or use the unsubscribe link at the bottom of emails you receive from us.</li><br>

<li>For internal operations and analysis: We may also use your personal information for internal administration, analysis and quality assurance purposes, including fraud prevention. We use your personal information to help us guard against fraud.</li><br>

</ul>

<p>4. Who do we share your information with and why</p>

<p>Lawreo may share your personal information with its group companies or carefully selected third party partners and providers as necessary for business administration, customer delivery, marketing and operational, analytical, quality assurance and, though only in relation to anonymised data, marketing assistance (for example, to explore consumer trends) or other purposes as set out below. Except with your expressly given consent, we will only share your personal information as described in this Privacy Policy. To the extent that any third party has access to your personal information to provide functions on our behalf, their use of this information will be limited solely to providing those functions and for no other purpose.</p>

<ul>

	<li>Third party suppliers and group companies: Lawreo may engage other group companies and/or carefully selected third party partners, including service providers, joint venture partners and outsource providers to perform various functions on our behalf. To the extent required to perform such functions on our behalf, these companies may process your personal information. Such functions may include providing products and services, processing payments, providing search results, communicating with you, including providing customer service, via telephone, email, post or otherwise and, with your consent, for promotional activities.</li><br>

	<li>Any personal information processed by our group companies will be in accordance with the terms of this Privacy Policy or similar conditions and as permitted under applicable data protection laws. We place contractual restrictions on our non-group third party partners who receive your personal information, to ensure that they use this in accordance with this Privacy Policy and applicable data protection laws.</li><br>

	<li>Please note that our group companies and third party suppliers may be established in countries that might not offer a level of protection for your personal information that is equivalent to the one offered in your country of residence. However, we will endeavour to protect all personal information we collect from you.</li><br>

	<li>Business sale or restructuring: Like any other organisation, from time to time Lawreo may restructure its business operations by selling one or more of its businesses (or part of a business) to a buyer either within or outside the Lawreo group. In such transactions, your personal information could be transferred as part of the relevant sale.</li><br>

	<li>Compliance with laws and regulations: We may disclose your personal information to third parties, such as official bodies and our professional advisers, as far as we believe it is necessary (i) to comply with relevant laws, orders or regulations; (ii) to enforce our customer terms and conditions of use or other contractual agreements; and (iii) to protect the property and other rights of Lawreo, its group companies, customers and others (for example, in any way relating to protection against fraudulent activities).</li><br>

	<li>Credit reference agencies and payment processors: When you purchase any products or services offered on or through our website, we may pass certain personal information which you provide to us (for example, your name, credit card, billing address details) to third party credit reference agencies, payment processors or other third parties for the specific purpose of verifying that information. If your personal information cannot be satisfactorily verified (for example, your stated billing address does not match your credit card details), we will contact you to notify you that your purchase request has not been confirmed and to request corrected details, if they can be provided, before we can process your order.</li><br>

	<p>5. Transfers outside the UK</p>

	<p>In order to process your data as described in this privacy policy, we may need to send your information internationally including to countries outside the European Economic Area (EEA) for example, to data centres we may operate abroad. Some of these jurisdictions offer differing levels of protection in respect of personal information and may, in certain instances, be less protective than data protection requirements of the country where we are based. We will however take steps to ensure that your personal information is transferred, stored and processed in accordance with appropriate security standards and in accordance with the terms of this Privacy Policy and applicable data protection laws.</p>

<p>6. How do we keep your personal information secure?</p>

<p>We use leading technological and security measures (electronic, physical and procedural) to ensure the safety and confidentiality of your personal information through collection, storage and disclosure. Such measures include maintaining a secure encryption based transmission system, intrusion detection and prevention software and virus protection software in respect of personal information. Other than as strictly required by our payment providers and by our credit card companies to process payments, Lawreo will reveal only the last 5 digits of your stored credit card number to authorised personnel only.</p>

<p>7. How can you control your personal information?</p>

<p>Lawreo understands that it is important that you have control over your personal information. You can view and change your account settings and information, at any time by accessing your account and updating the details. If you do not want to receive special offers and promotional communications from Lawreo you can use the unsubscribe link at the bottom of emails you receive from us.</p>

<p>If you have any queries about our use of your data or our communications with you, please contact us on [     ].</p>

	</div>
</div>

<br>
<br>
<br>
<br>