
<div class="signupcontainer large-offset-1">
  <h2>Terms and conditions</h2>

  <div class="text">
  	
<p>Terms and Conditions</p>

<p>Information about us</p>

<p>Lawreo.com is a website operated by Lawreo ("Lawreo ", "we" or "us"). Lawreo is registered in England and Wales under company number [•] and its registered office is at [•]. <p>

<p>Agreement between you and Lawreo </p>

<p>These Terms and Conditions are an agreement ("Agreement") between you and Lawreo about your use of the information, software, products, and services contained in or available through Lawreo  ("the Website"). This Agreement governs your use of the Website.</p>

<p>You are responsible for making all arrangements necessary for you to have access to the Website. You are also responsible for ensuring that all persons who access the Website through your internet connection are aware of these Terms and Conditions, and that they comply with them.</p>

<p>The Website is made up of various web pages, which we operate. The Website is offered to you conditional on your acceptance of these Terms and Conditions and any notices contained in these Terms and Conditions and the Website itself. Please read these Terms and Conditions carefully before you start to use the website. By using the Website, you agree to all these terms, conditions, and notices.</p>

<p>Lawreo is not a law firm, and our employees are not acting as your solicitor.  Lawreo does not practice law and does not give legal advice. The Website is not intended to create a solicitor-client relationship and, by using the Website, no solicitor-client relationship will be created with Lawreo.  The Website is not a substitute for the advice of a solicitor.</p>

<p>We aim to update the Website regularly and can change the content at any time. We will use our reasonable efforts to keep the Website available to you, but if necessary, we may suspend access to the Website, or close it indefinitely. We will not be liable if for any reason the Website is unavailable at any time or for any period. The legal information on the Website is not legal advice and is not guaranteed to be correct, complete or up-to-date. Because the law changes rapidly, we cannot guarantee that all the information on the Website is completely current. The law is a personal matter, and no general information or legal tool like the kind Lawreo provides is suitable for every situation. If you need legal advice for your specific problem, or if your specific problem is too complex to be addressed by our Website, please consult a suitably qualified lawyer. </p>

<p>In addition, we are not responsible for any loss, injury, claim, liability, or damage ("Loss") related to your use of any website linked to the Website ("Linked Website") including if this Loss (i) arises from errors or omissions in the content of any Linked Website, or (ii) is as a result of any Linked Website being down or (iii) arises from any other use of any Linked Website.</p>

<p>Your use of any linked Website is at your own risk.</p>

<p>LAWREO PROVIDES A PLATFORM FOR LEGAL INFORMATION, SELF HELP AND COLLABORATION. THE DIRECTORY OF LAWYERS PUBLISHED ON THE WEBSITE IS FOR INFORMATION PURPOSES ONLY, IS FREE FOR BOTH LAWYERS AND NON-LAWYERS AND IS NOT AN ENDORSEMENT OR APPROVAL OF ANY LISTED LAWYER. THERE IS NO FEE SHARING ARRANGEMENT BETWEEN LAWREO AND ANY LISTED LAWYER FOR ANY LEGAL MATTER. BEFORE RETAINING A LAWYER, YOU SHOULD CAREFULLY CONSIDER THE LAWYER’S KNOWLEDGE AND EXPERIENCE AND ASK FOR A WRITTEN LEGAL SERVICES AGREEMENT DETAILING THE TERMS AND CONDITIONS OF THE ENGAGEMENT, INCLUDING ALL FEES, EXPENSES AND OTHER OBLIGATIONS. NO LEGAL RELATIONSHIP, ENGAGEMENT OR RETAINER EXISTS IN ANY WAY BETWEEN ANY LAWREO USER AND LAWREO OR ITS PARENT, SUBSIDIARIES OR AFFILIATES.</p>

<p>We may from time to time make available to you facilities enabling you to e-sign and share documents, and other information, with third parties using the Website. Please remember that any documents you share may include commercially sensitive or confidential information relating to you, your business or affairs or the business or affairs of a third party, or information protected by the Data Protection Act 1998. If you use the share facility it is your responsibility to ensure that you comply with all applicable legislation and regulations and any legal duties or obligations you may have. We will not be responsible for any breach of any such legislation, regulations, duties or obligations which arise out of your use of the share facility.</p>

<p>Changing these Terms and Conditions</p>

<p>We reserve the right to change the Terms and Conditions under which the Website is offered. You understand and agree that your use of the Website after the date on which the Agreement has changed will be treated as acceptance of the updated Agreement.</p>

<p>Links to third party websites & Third party services</p>

<p>Linked Websites are not under our control and we are not responsible for the contents of any Linked Website including, without limitation, any link contained in a Linked Website, or any changes or updates to a Linked Website. We are not responsible for webcasting or any other form of transmission received from any Linked Website. We are providing these links to you only as a convenience, and the inclusion of any link does not mean we endorse the site or have any association with its operators. These Terms and Conditions do not cover your interaction with Linked Websites, and you should carefully review the Terms and Conditions and privacy policies of any third party sites.
Certain services made available via the Website are delivered by third parties. By using any product, service or functionality originating from the Website domain, you acknowledge and consent that we may share such information and data with any third party with whom we have a contractual relationship to provide the requested product, service or functionality for the Website’s users and customers.</p>

<p>Your privacy</p>

<p>Protecting your privacy is very important to us. Please review our Privacy Policy , which explains how we treat your personal information and protect your privacy.</p>

<p>No unlawful or prohibited use</p>

<p>As a condition of your use of the Website, you warrant to us that you will not use the Website for any purpose that is unlawful or prohibited by these Terms and Conditions and notices. You must not use the Website in any manner which could damage, disable, overburden, or impair the Website or interfere with any other party's use and enjoyment of the Website. You must not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the Website.</p>

<p>THE LEGAL FORMS, LEGAL DOCUMENTS, LETTERS, ARTICLES AND ALL OTHER CONTENT FOUND ON THE WEBSITE ("LAWREO CONTENT") ARE PROTECTED BY COPYRIGHT AND ALL OTHER APPLICABLE INTELLECTUAL PROPERTY RIGHTS. LAWREO CONTENT IS FOR YOUR PERSONAL USE ONLY AND NOT FOR RESALE. YOUR USE OF THE WEBSITE DOES NOT ENTITLE YOU TO RESELL ANY LAWREO CONTENT FROM THE WEBSITE. FOR THE AVOIDANCE OF DOUBT, YOUR USE OF THE WEBSITE CONSTITUTES YOUR ACCEPTANCE OF THESE TERMS AND CONDITIONS AND YOUR PROMISE THAT YOU WILL NOT RESELL OR OTHERWISE ATTEMPT TO COMMERCIALLY BENEFIT FROM THE LAWREO CONTENT WITHOUT THE EXPRESS WRITTEN CONSENT OF LAWREO.
OUR STATUS (and that of any identified contributors) AS THE AUTHORS OF MATERIAL ON THE WEBSITE MUST ALWAYS BE ACKNOWLEDGED AND YOU MUST NOT USE THE MATERIAL IN A DEROGATORY MANNER. IF YOU PRINT OFF, COPY OR DOWNLOAD ANY PART OF THE WEBSITE IN BREACH OF THESE TERMS AND CONDITIONS, YOUR RIGHT TO USE THE WEBSITE WILL CEASE IMMEDIATELY AND YOU MUST, AT OUR OPTION, RETURN OR DESTROY ANY COPIES OF THE MATERIALS YOU HAVE MADE.</p>

<p>Use of communication services</p>

<p>The Website may contain bulletin board services, chat areas, news groups, forums, communities, personal web pages, calendars, and/or other message or communication facilities designed to enable you to communicate with the public at large or with a group (collectively, "Communication Services"). You agree to use the Communication Services only to post, send and receive messages and material that are proper and related to the particular Communication Service. By way of example, and not as a limitation, you agree that when using a Communication Service, you will not:</p>

<ul>
	<li>defame, abuse, harass, stalk, threaten or otherwise breach the legal rights (such as rights of privacy and publicity) of others;</li><br>
	
	<li>publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topic, name, material or information; </li><br>
	
	<li>upload files that contain software or other material protected by intellectual property laws (or by rights of privacy of publicity) unless you own or control these rights or have received all necessary consents; </li></br>
	
	<li>upload files that contain viruses, corrupted files, or any other similar software or programs that may damage the operation of another's computer; </li><br>
	
	<li>advertise or offer to sell or buy any goods or services for any business purpose, unless such Communication Service specifically allows such messages; </li><br>
	
	<li>conduct or forward surveys, contests, pyramid schemes or chain letters; </li><br>

	<li>download any file posted by another user of a Communication Service that you know, or reasonably should know, cannot be legally distributed in such manner;</li><br>
	
	<li>falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material contained in a file that is uploaded;</li><br>
	
	<li>restrict or inhibit any other user from using and enjoying the Communication Services;</li><br>

	<li>breach any code of conduct or other guidelines which may be applicable for any particular Communication Service;</li>
	
	<li>harvest or otherwise collect information about others, including e-mail addresses, without their consent; or breach any applicable laws or regulations.</li><br>

</ul>

<p>We have no obligation to monitor the Communication Services. However, we reserve the right to review materials posted to a Communication Service and to remove any materials in our sole discretion. We reserve the right to terminate your access o any or all of the Communication Services at any time without notice if we reasonably believe that you have breached these terms for use of the Communication Services or are misusing the Communication Services in any way.</p>

<p>We reserve the right at all times to disclose any information as necessary to satisfy any applicable law, regulation, legal process or governmental request, or to edit, refuse to post or to remove any information or materials, in whole or in part, in our discretion.</p>

<p>Always use caution when giving out any personally identifying information about yourself or your children in any Communication Service. We do not control or endorse the content, messages or information found in any Communication Service and, therefore, we specifically disclaim any liability with regard to the Communication Services and any actions resulting from your participation in any Communication Service. Managers and hosts are not our authorised spokespersons and their views do not necessarily reflect our views.</p>

<p>Materials uploaded to a Communication Service may be subject to posted limitations on usage, reproduction and/or dissemination. You are responsible for keeping within these limitations if you download the materials.
Materials provided to the Website or posted at any Lawreo website</p>

<p>We will not own the materials you provide to us (including feedback and suggestions) or post, upload, input or submit to any Lawreo website or its associated services (collectively "Submissions"). However, by posting, uploading, inputting, providing or submitting your Submission, you are granting Lawreo, its affiliated companies and necessary sublicensees permission to use your Submission in connection with the operation of their Internet businesses including, without limitation, the rights to: copy, distribute, transmit, publicly display, publicly perform, reproduce, edit, translate and reformat your Submission; and to publish your name in connection with your Submission.</p>

<p>No compensation will be paid in relation to the use of your Submission, as provided in these Terms and Conditions. We are under no obligation to post or use any Submission you provide and may remove any Submission at any time in our sole discretion.</p>

<p>By posting, uploading, inputting, providing or submitting your Submission, you warrant and represent that you own or otherwise control all of the rights to your Submission as described in this section including, without limitation, all the rights necessary for you to provide, post, upload, input or submit the Submissions.</p>

<p><strong>Liability disclaimer</strong></p>

<p>THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE WEBSITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION ON THE WEBSITE. LAWREO AND/OR ITS SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE WEBSITE AT ANY TIME. INFORMATION AND OPINIONS RECEIVED VIA THE WEBSITE SHOULD NOT BE RELIED UPON FOR PERSONAL, MEDICAL, LEGAL OR FINANCIAL DECISIONS AND YOU SHOULD CONSULT AN APPROPRIATE PROFESSIONAL FOR SPECIFIC ADVICE TAILORED TO YOUR SITUATION.</p>

<p>ALTHOUGH LAWREO WILL USE ITS REASONABLE EFFORTS TO KEEP THE WEBSITE AVAILABLE AND THE INFORMATION ON THE WEBSITE REASONABLY ACCURATE, LAWREO AND/OR ITS SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, AND ACCURACY OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS CONTAINED ON THE WEBSITE FOR ANY PURPOSE. ALL SUCH INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS ARE PROVIDED "AS IS" WITHOUT WARRANTY OR CONDITION OF ANY KIND. LAWREO AND/OR ITS SUPPLIERS DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.
YOU USE THE WEBSITE AT YOUR OWN RISK. NEITHER LAWREO NOR ANY COMPANY WITHIN OUR GROUP, AND OUR AND THEIR RESPECTIVE AGENTS, EMPLOYEES AND SUB-CONTRACTORS, SHALL BE LIABLE TO YOU OR ANY OTHER PARTY FOR ANY LOSSES OR DAMAGES WHATSOEVER OR HOWSOEVER ARISING IN CONNECTION WITH THE WEBSITE (WHETHER UNDER THESE TERMS AND CONDITIONS OR OTHER CONTRACT OR AS A RESULT OF ANY MISREPRESENTATION, MISSTATEMENT OR TORTIOUS ACT OR OMISSION, INCLUDING NEGLIGENCE).
LAWREO SHALL HAVE NO LIABILITY TO YOU FOR ANY LOSS OR DAMAGE YOU SUFFER UNDER THIS PARAGRAPH:</p>

<ul>
	<li>"LAWREO’S LIABILITY" INCLUDES THAT OF ANY COMPANY IN OUR GROUP AND OUR AND THEIR RESPECTIVE AGENTS EMPLOYEES, SUB- CONTRACTORS;</li><br>
	<li>"YOU" INCLUDES ANY OTHER PARTY CLAIMING THROUGH YOU;</li><br>
	<li>"LOSS OR DAMAGE" INCLUDES ANY LOSSES, DAMAGES, COSTS OR EXPENSES WHATSOEVER OR HOWSOEVER ARISING IN CONNECTION WITH USE OF THE WEBSITE, WHETHER UNDER THIS AGREEMENT OR OTHER AGREEMENT OR AS A RESULT OF ANY MISREPRESENTATION, MISSTATEMENT OR TORTIOUS ACT OR OMISSION, INCLUDING NEGLIGENCE.</li><br>
</ul>

<p>THIS SECTION OF THE TERMS & CONDITIONS DOES NOT AFFECT CLAIMS RELATING TO DEATH OR PERSONAL INJURY CAUSED BY NEGLIGENCE AND DOES NOT LIMIT OR EXCLUDE ANY LIABILITY FOR FRAUDULENT MISREPRESENTATION.
GENERAL</p>

<p>You agree that no joint venture, partnership, employment, or agency relationship exists between you and us as a result of this Agreement or your use of the Website.</p>

<p>Our performance of this Agreement is subject to existing laws and legal process. Nothing contained in this Agreement is in derogation of our right to comply with governmental, court and law enforcement requests or requirements relating to your use of the Website or information provided to or gathered by us with respect to such use.</p>

<p>If any part of this Agreement is determined to be invalid or unenforceable under any applicable law, including, but not limited to, the warranty disclaimers and liability limitations set out above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the Agreement will continue in effect.</p>

<p>Unless otherwise specified, this Agreement constitutes the entire Agreement between you and us with respect to the Website and it supersedes all prior communications and proposals, whether electronic, oral or written, between you and us with respect to the Website.</p>

<p>You must not assign or otherwise transfer the Terms and Conditions, or any right granted under them, without our written consent. We can freely transfer our rights under the Terms and Conditions.</p>

<p>Any failure by us to enforce or exercise any provision of the Terms and Conditions, or any related right, will not be a waiver of that provision or right. Any rights not expressly granted in this Agreement are reserved.</p>

<p>We may provide you with notices, including those regarding changes to the Terms and Conditions, by email, regular mail, postings on the Website, or other reasonable means now known or developed in the future.</p>

<p>A printed version of the Agreement, and of any notice given in electronic form, will be admissible in judicial or administrative proceedings based upon or relating to this Agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form. It is the express wish of the parties that this Agreement and all related documents have been drawn up in English.</p>

<p>Copyright and trademark notices</p>
<p>All contents of the Website are Copyright © 2014 Lawreo and/or its suppliers, affiliates and partners. All rights reserved.</p>

<p>Applicable law</p>
<p>These Terms and Conditions and any dispute or claim arising out of or in connection with them or their subject matter or formation (including non-contractual disputes or claims) shall be governed by and interpreted in accordance with the law of England and Wales.
March 2015</p>

  </div>
</div>
