<div class="fixed">

    <nav class="top-bar" data-topbar>

      <ul class="title-area">
        <li class="name">
          <h1>
            <a href="#">
              Symbiotic
            </a>
          </h1>
        </li>
        <li id="menuicon" class="toggle-topbar menu-icon menuicon" style:"color=#000000;"><a href="#" style:"color=#000000;"><span>Menu</span></a></li>
      </ul>

      <ul class="title-area">
        <li class="name">
          <h2><a href="#">Q&ampA Forum for Law</a></h2>
        </li>
      </ul>

      <section class="top-bar-section">

       <ul class="right">
        <ul>
          <li class="search">
            <form>
              <input type="search" placeholder="Search">
            </form>
            
            <li class="has-button">
              <a class="small button" href="#">Search</a>
            </li>
          </li>

          <ul>
            <a href="#" class="button [radius round] button-facebook">Sign in / Register</a>
          </ul>

        </ul>
      </ul>
    </section>
  </nav>

</div>

 <div class="fixed">
  
  <dl class="sub-nav">
  <dd class="active"><a href="#">Most Recent</a></dd>
  <dd><a href="#">Most Popular</a></dd>
  <dd><a href="#">Unanswered</a></dd>
  <dd><a href="#">Top Contributors</a></dd>
  <div class="button-askquestion">
  <dd> <%= link_to "Ask a Question", new_post_path, class: "uk-button in-line right"  %>
  </div>
</dl>
 </div>