 <ul class="side-nav fixed" role="navigation" title="Link List">
   <li role="menuitem"  class="active" ><a href="#">All</a></li>
   <li role="menuitem"><a href="#">topic 1</a></li>
   <li role="menuitem"><a href="#">topic 2</a></li>
   <li role="menuitem"><a href="#">topic 3</a></li>
   <li role="menuitem"><a href="#">topic 4</a></li>
   <li role="menuitem"><a href="#">topic 5</a></li>
   <li role="menuitem"><a href="#">topic 6</a></li>
 </ul>